.letters {
  display: block;
  overflow: hidden;
  position: relative;
}

.letters :global {
  .letter, .sentence {
    display: inline-flex;
    line-height: 1;
  }

  .words {
    display: inline-flex;
    margin-right: 10px;
  }
}
