@import "/styles/breakpoints.scss";

.about {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  height: 150vh;

  @media screen and (max-width: $medium-screen) {
    height: 100vh;
  }
}

.about :global {
  .backdrop {
    position: absolute;
    opacity: 0.1;
    font-family: "TWK Everett";
    font-size: 7rem;
    line-height: 1;
    top: 0px;
  }

  .aboutContainer {
    display: flex;
    position: relative;
    align-items: center;
    height: 101vh;
    background: var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    z-index: -1;

    @media screen and (max-width: $medium-screen) {
      position: relative !important;
      width: 100vw !important;
    }

    @media screen and (orientation: landscape) {
      position: relative !important;
      width: 100vw !important;
      height: 100vh !important;
    }
  }

  .textContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }

  .texts {
    padding: 60px;
    color: var(--secondary);
    width: 65%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: $large-screen) {
      padding: 50px;
      width: 100%;
    }

    
    @media screen and (max-width: $large-screen) {

    }

    p {
      font-family: "TWK Everett";
      position: relative;
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      line-height: 1.3;
      color: var(--secondary);
      margin: 0;
    }
  }
}
