@import "/styles/breakpoints.scss";

.experience {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  height: auto;
  overflow: hidden;

  @media screen and (max-width: 1170px)  {
    height: auto;
  }

  // @media screen and (max-width: $large-screen) {
  //   height: 180vh;
  // }

  // @media screen and (max-width: $medium-screen) {
  //   height: 195vh;
  // }

  // @media screen and (max-width: $small-screen) {
  //   height: 210vh;
  // }
}

.experience :global {
  .experienceContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--secondary);
    width: 100%;
    padding: 100px 45px 150px;

    @media screen and (max-width: $large-screen)  {
      padding-bottom: 45px;
    }

    .textContainer {
      padding: 60px;
      color: var(--primary);

      .backdrop {
        -webkit-text-stroke: 1px var(--primary);
        color: transparent;
      }

      p {
        position: relative;
        font-size: 3rem;
        line-height: 1.3;
        color: var(--primary);
        margin: 0;
      }
    }

    .jobExperiences {
      position: relative;
      width: 100%;
      padding-top: 100px;
    }
  }
}
