.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  gap: 20px;
  padding-bottom: 100px;
}

.hero :global {
  .heroTexts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 4.5rem;
      line-height: 5rem;

      span {
        display: block;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6rem;
    }
  }

  .heroCta {
    display: inline-flex;
    align-items: center;
    gap: 25px;

    span {
      font-size: 0.875rem;
    }

    .viewProjects {
      text-decoration: underline;
    }
  }
}
