.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  gap: 20px;
}

.hero :global {
  .heroTexts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    h1 {
      font-size: 4.5rem;
      line-height: 5rem;
      margin-bottom: 0;

      span:not(:last-child) {
        color: var(--green);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        -webkit-animation: gradient 3s linear infinite;
        animation: gradient 3s linear infinite;
      }

      span:last-child {
        display: block;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6rem;
      margin-bottom: 10px;
    }
  }

  .arrow {
    position: absolute;
    bottom: -50px;
    left: -45px;

    svg {
      path {
        stroke: var(--primary);
        transition: stroke 0.15s ease-out;
      }
    }
  }

  .heroCta {
    display: inline-flex;
    align-items: center;
    gap: 25px;

    span {
      font-size: 0.875rem;
    }

    .viewProjects {
      text-decoration: underline;
    }
  }
}
