@import "/styles/breakpoints.scss";

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 0px;
  gap: 15px;
}

.hero :global {
  .heroTexts {
    width: 100%;
    height: 100%;

    @media screen and (max-width: $medium-screen) {
      position: relative !important;
    }

    h1 {
      font-family: "TWK Everett";
      font-size: clamp(2.5rem, 6vw, 6rem);
      display: flex;
      flex-direction: column;
      margin: 0;
      line-height: 1;
    }

    h2 {
      font-family: "TWK Everett";
      text-transform: uppercase;
      font-weight: 400;
      font-size: clamp(1rem, 4vw, 1.75rem);
      margin: 0;
    }

    .topText {
      position: absolute;
      top: 45px;
      left: 45px;
      text-align: left;
      margin-top: -15px;

      @media screen and (max-width: $large-screen) {
        margin: 0;
      }

      @media screen and (max-width: $large-screen) {
        top: 25px;
        left: 25px;
      }
    }

    .bottomText {
      position: absolute;
      bottom: 45px;
      right: 45px;
      text-align: right;

      @media screen and (max-width: $medium-screen) {
        bottom: 25px;
        right: 25px;
      }
    }

    .scrollArrow {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 45px;
      bottom: 45px;

      @media screen and (max-width: $medium-screen) {
        bottom: 25px;
        left: 25px;
      }

      .arrow {
        position: absolute;
        animation: arrow 1s linear infinite;

        svg {
          path {
            fill: var(--primary);
          }
        }
      }
    }
  }
}
