@import "/styles/breakpoints.scss";

.projects {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  height: 350vh;

  @media screen and (max-width: 1230px) {
    height: auto;
  }
}

.projects :global {
  .stickyContainer {
    position: sticky;
    width: 100%;
    height: 100vh;
  }
  .projectsContainer {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    height: 101vh;
    width: 101vw;
    background: var(--primary);
    z-index: 1;
    padding: 0 200px;
    overflow: hidden;

    @media screen and (max-width: 1550px) {
      padding: 0 100px;
    }

    @media screen and (max-width: 1230px) {
      flex-direction: column;
      padding: 60px;
      height: auto;
    }

    @media screen and (max-width: $medium-screen) {
      width: 100vw;
    }

    .projectsContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 250px;

      @media screen and (max-width: 1550px) {
        gap: 100px;
      }

      @media screen and (max-width: 1230px) {
        gap: 50px;
        flex-direction: column;
      }

      @media screen and (max-width: $small-screen) {
        align-items: flex-start;
      }

      .sectionHeader {
        h3 {
          color: var(--secondary);
        }
      }

      .projectsList {
        display: flex;
        flex-direction: row;
        gap: 250px;
        color: var(--secondary);

        @media screen and (max-width: 1550px) {
          gap: 100px;
        }

        @media screen and (max-width: 1230px) {
          flex-direction: column;
        }

        .projectSingle {
          width: 500px;

          @media screen and (max-width: 1230px) {
            width: 100%;
            text-align: center;
          }

          @media screen and (max-width: $small-screen) {
            text-align: left;
          }

          .number {
            font-size: 1rem;
          }
          .name {
            font-size: 2rem;
            margin: 0;
          }
          .stacksUsed {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 15px;

            @media screen and (max-width: 1230px) {
              justify-content: center;
            }

            @media screen and (max-width: $small-screen) {
              margin: 10px 0 15px;
              justify-content: flex-start;
            }

            span {
              position: relative;
              text-transform: uppercase;
              font-size: clamp(0.8rem, 3vw, 1rem);
              &:after {
                content: "–";
                margin-left: 5px;
              }

              &:last-child {
                &:after {
                  content: "";
                }
              }
            }
          }
          .description {
            font-size: clamp(1rem, 1vw, 1.125rem);
            font-weight: 100;
            line-height: 1.4;
          }

          .projectLink {
            display: inline-block;
            background-color: var(--secondary);
            color: var(--primary);
            text-decoration: none;
            padding: 20px;
          }
        }
      }
    }
  }
}
