.skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  min-height: 150vh;
  height: 150vh;
  overflow: hidden;
  padding: 60px;
}

.skills :global {
  .stackContainer {
    display: flex;
    gap: 130px;
    padding-top: 70px;
    justify-content: center;

    .stack {
      .stackTitle {
        font-size: 1.5rem;
        margin: 0 0 25px;
        line-height: 1;
      }

      .skillsList {
        display: flex;
        flex-direction: column;
        gap: 7px;
        span {
          font-size: 1.125rem;
          font-weight: 100;
          line-height: 1.5;
        }
      }
    }
  }
}
