.accordionItem {
  position: relative;

  // &:before {
  //   content: "";
  //   pointer-events: none;
  //   position: absolute;
  //   left: -40px;
  //   top: 8px;
  //   width: 15px;
  //   height: 15px;
  //   transform: rotate(45deg);
  //   border-radius: 2px;
  //   background-color: var(--primary);
  //   z-index: 2;
  // }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    left: -33px;
    width: 1px;
    height: calc(100% - 20px);
    top: 37px;
    background-color: var(--primary);
    transition: all 0.15s ease;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.accordionItem :global {
  .spinner {
    content: "";
    pointer-events: none;
    position: absolute;
    left: -40px;
    top: 8px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: var(--primary);
    z-index: 2;
    transition: background-color 0.25s ease;
  }

  .accordionTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    .title {
      h3 {
        margin: 0;
      }
      span {
        color: var(--green);
      }
    }
  }

  .accordionContent {
    overflow: hidden;

    .accordionContent-inner {
      padding-top: 20px;
      p {
        margin-bottom: 0;
      }
    }
  }
}
