.accordionItem {
  position: relative;

  // &:before {
  //   content: "";
  //   pointer-events: none;
  //   position: absolute;
  //   left: -40px;
  //   top: 8px;
  //   width: 15px;
  //   height: 15px;
  //   transform: rotate(45deg);
  //   border-radius: 2px;
  //   background-color: var(--primary);
  //   z-index: 2;
  // }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    left: -33px;
    width: 1px;
    height: calc(100% - 20px);
    top: 37px;
    background-color: var(--primary);
    transition: all 0.15s ease;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.accordionItem :global {
  .spinner {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: var(--primary);
    z-index: 1;
    transition: background-color 0.25s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--green);
    }
  }

  .accordionTitle {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      height: calc(100% + 20px);
      background-color: var(--green);
      z-index: -1;
      width: 0;
      transition: width 0.3s ease-out;
      transform-origin: left;
      border-radius: 2px;
    }

    &.active {
      // &:before {
      //   width: calc(100% + 20px);
      //   transition: width 0.3s ease-in;
      // }

      // .title {
      //   span {
      //     color: var(--primary);
      //   }
      // }
    }

    .title {
      h3 {
        display: inline;
        margin: 0;
      }
      span {
        font-size: 1.125rem;
        display: block;
        color: var(--green);
      }
    }
  }

  .accordionContent {
    overflow: hidden;

    .accordionContent-inner {
      padding-top: 10px;
      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
