@import "/styles/breakpoints.scss";

.cursor {
  border-radius: 50%;
  position: fixed;
  top: -50px;
  left: -50px;
  z-index: 5;
  pointer-events: none;
  transition: background-color 0.15s ease;
  background-color: #e1dfdd;
  mix-blend-mode: difference;

  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}