@import "/styles/breakpoints.scss";

.jobs {
  padding: 0;
  margin: 0;
}

.jobs :global {
  li {
    &:nth-child(odd) {
      text-align: right;

      .lineGoing {
        right: 250px;
      }

      .lineJobPosition {
        left: 250px;
      }
    }
    &:nth-child(even) {
      text-align: left;

      .lineGoing {
        left: 250px;
      }

      .lineJobPosition {
        right: 250px;
      }
    }

    &:first-child {
      padding-top: 0;

      .lineGoing {
        top: 15px;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .mobile {
    text-align: left !important;
    padding-left: 50px;
    width: 100%;

    .lineProgress {
      left: 0 !important;
      transform: none !important;
    }
    
    .lineGoing {
      left: 2px !important;
    }
  }
}

.jobExperience {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  position: relative;
  width: 500px;
  padding: 40px 0;
}

.jobExperience :global {
  .lineProgress {
    width: 4px;
    height: calc(100% + 20px);
    position: absolute;
    top: 0;
    background: var(--primary);
    left: 50%;
    transform: translateX(-50%);
  }

  .lineGoing {
    position: absolute;
    height: 4px;
    background: var(--primary);
    top: 50px;
  }

  .lineJobPosition {
    position: absolute;
    height: 4px;
    background: var(--primary);
    top: 50%;
    transform: translateY(-50%);
  }

  .jobInformation {
    .jobHeader {
      margin-bottom: 15px;
      h3 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
      }
      span {
        font-size: 1rem;
      }
    }
    .jobDetails {
      font-size: clamp(1rem, 3vw, 1.125rem);
      font-weight: 100;
    }
  }

  .jobTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 1170px) {
      display: none;
    }

    .title {
      font-size: 2.5rem;
      font-weight: 600;
      -webkit-text-stroke: 1px var(--primary);
      color: transparent;
    }
  }
}
