.logo {
  display: flex;
  justify-content: space-between;
}

.logo :global {
  .name {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: 1.25rem;
    .hover {
      display: inline-flex;
      flex-direction: column;
      height: 24px;
      margin-left: 5px;
      font-weight: 600;
      overflow: hidden;

      .copyright,
      .lastName {
        transition: transform 0.25s ease;
      }

      .lastName {
        color: var(--green);
      }

      &:hover {
        .copyright,
        .lastName {
          transform: translateY(-24px);
          transition: transform 0.25s ease;
        }
      }
    }
  }
}