.logo {
  display: flex;
  justify-content: space-between;
}

.logo :global {
  .name {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: 1.5rem;
    align-items: center;
  }
}