.skillsExperience {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.skillsExperience :global {
  .row {
    display: flex;
    gap: 120px;

    .column {
      flex: 1;
    }

    .introText {
      text-align: left;
    }

    .skillStack {
      display: flex;
      flex-direction: column;
      gap: 35px;
      padding: 20px 0;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
  }
}
