.skillsExperience {
  display: flex;
  gap: 120px;
}

.skillsExperience :global {
  .column {
    flex: 1;
  }

  .skillStack {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px 0;
  }
}
