.theme {
  position: absolute;
  top: 40px;
  left: 40px;
}

.theme :global {
  .themeToggle {
    display: flex;
    position: relative;
    padding: 10px;
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    transition: border-color 0.15s ease;
    font-size: 1.125rem;
    font-weight: 600;

    &:hover,
    &:focus-visible {
      i {
        path {
          transition: all 0.25s ease;
        }
      }

      .ball {
        background-color: var(--primary);
      }
    }

    i {
      svg {
        path {
          fill: var(--primary);
        }
      }
    }

    .icons {
      display: inline-flex;
      gap: 10px;
      i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        z-index: 1;
        svg {
          width: 20px;
          height: 20px;
          path {
            transition: all 0.25s ease;
          }
        }
      }
    }

    .ball {
      position: absolute;
      height: 30px;
      width: 30px;
      background: var(--green);
      border-radius: 2px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      transition: all 0.25s ease;
    }
  }

  .dark {
    &:hover,
    &:focus-visible {
      .moonIcon {
        path {
          fill: var(--secondary);
        }
      }
    }
    .ball {
      left: 37.5px;
    }
  }

  .light {
    &:hover,
    &:focus-visible {
      .sunIcon {
        path {
          fill: var(--secondary);
        }
      }
    }
    .ball {
      left: 2.5px;
    }
  }
}
