.theme :global {
  .themeToggle {
    display: flex;
    position: relative;
    padding: 5px;
    border: 2px solid;
    border-radius: 30px;
    cursor: pointer;
    border-color: var(--color1);

    &:hover,
    &:focus-visible {
      i {
        path {
          transition: all 0.25s ease;
        }
      }

      .ball {
        background-color: var(--color1);
      }
    }

    i {
      svg {
        path {
          fill: var(--color1);
        }
      }
    }

    .icons {
      display: inline-flex;
      gap: 10px;
      i {
        width: 20px;
        height: 20px;
        z-index: 1;
        svg {
          width: 20px;
          height: 20px;
          path {
            transition: all 0.25s ease;
          }
        }
      }
    }

    .ball {
      position: absolute;
      height: 24px;
      width: 24px;
      background: var(--green);
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      transition: all 0.25s ease;
    }
  }

  .dark {
    &:hover {
      .moonIcon {
        path {
          fill: var(--color2);
        }
      }
    }
    .ball {
      left: 3px;
    }
  }

  .light {
    &:hover {
      .sunIcon {
        path {
          fill: var(--color2);
        }
      }
    }
    .ball {
      left: 33px;
    }
  }
}
