//global variables
:root {
  --nav-height: 120px;
  --green: #00a97f;
}

[data-theme="dark"] {
  --primary: #fcfcfc;
  --secondary: #161616;

  body {
    background-color: var(--secondary);
    color: var(--primary);
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgba(250, 248, 255, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(250, 248, 255, 0.05) 1px, transparent 1px);

    .cursor {
      border-color: var(--primary) !important;
      .dot {
        background-color: var(--primary);
      }

      &.text {
        border-color: transparent !important;
        background-color: #faf8ff40 !important;
      }
    }
  }
}

[data-theme="light"] {
  --primary: #161616;
  --secondary: #fcfcfc;

  body {
    background: var(--secondary);
    color: var(--primary);
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgba(22, 22, 22, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(22, 22, 22, 0.05) 1px, transparent 1px);
    .cursor {
      border-color: var(--primary) !important;
      .dot {
        background-color: var(--primary);
      }

      &.text {
        border-color: transparent !important;
        background-color: #16161666 !important;
      }
    }
  }
}

::selection {
  color: var(--primary);
  background-color: var(--green);
}

* {
  cursor: none;
  box-sizing: border-box;
  &:focus-visible {
    outline-style: dotted;
    outline-color: var(--green);
    outline-offset: 5px;
    outline-width: 2px;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  box-shadow: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  outline: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0 0 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 0 1rem;
}

.cursor {
  border: 1px solid;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: border-color 0.15s ease;

  .dot {
    opacity: 1;
    height: 3px;
    width: 3px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    transition: all 0.15s ease;
  }

  &.text {
    border-color: transparent !important;
    transition: border-color 0.15s ease;
    .dot {
      transition: all 0.15s ease;
      opacity: 0;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}