@import "/styles/breakpoints.scss";

//global variables
:root {
  --nav-height: 120px;
  --green: #00a97f;
  --background-light: #e1dfdd;
  --background-dark: #161616;
}

::selection {
  color: var(--secondary);
  background-color: var(--primary);
}

body::-webkit-scrollbar {
  display: none;
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: transparent;
}

* {
  cursor: none;
  box-sizing: border-box;
  &:focus-visible {
    outline-style: dotted;
    outline-color: var(--green);
    outline-offset: 5px;
    outline-width: 2px;
  }

  @media screen and (min-width: $large-screen) {
    cursor: auto;
  }
}

[data-theme="dark"] {
  --primary: #e1dfdd;
  --secondary: #161616;

  body {
    background-color: var(--background-dark);
    color: var(--primary);
    transition: all 0.15s ease;
  }
}

[data-theme="light"] {
  --primary: #161616;
  --secondary: #e1dfdd;

  body {
    background: var(--background-light);
    color: var(--primary);
    transition: all 0.15s ease;
  }
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "TWK Everett", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;

  &.open-navigation {
    overflow: hidden;
  }

  .noise {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 3;

    &:after {
      content: "";
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      background-position: 50%;
      position: absolute;
      left: -10rem;
      top: -10rem;
      background-image: url(/noise.png);
      animation: noise 1s steps(2) infinite;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0 0 1rem;
  font-size: 5.5rem;
  line-height: 6rem;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0 0 1.4rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sectionHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $small-screen) {
    align-items: flex-start;
  }

  h3.title {
    font-size: 4.5rem;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 600;
    line-height: 1;
    margin-bottom: 25px;
  }

  .subText {
    text-align: center;
    max-width: 720px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $small-screen) {
      text-align: left;
    }
    
    .sentence {
      font-size: clamp(1rem, 3vw, 1.25rem);
      margin: 0;
      line-height: 1.2;
    }
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

@keyframes arrow {
  0% {
    top: -105px;
  }
  50% {
    top: -65px;
  }
  100% {
    top: -105px;
  }
}