//global variables
:root {
  --nav-height: 120px;
  --green: #00a97f;
  --background-light: #e1dfdd;
  --background-dark: #161616;
}

::selection {
  color: var(--primary);
  background-color: var(--green);
}

* {
  cursor: none;
  box-sizing: border-box;
  &:focus-visible {
    outline-style: dotted;
    outline-color: var(--green);
    outline-offset: 5px;
    outline-width: 2px;
  }
}

[data-theme="dark"] {
  --primary: #e1dfdd;
  --secondary: #161616;

  body {
    background-color: var(--background-dark);
    color: var(--primary);
    //background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiBmaWxsPSIjMTYxNjE2Ii8+CjxsaW5lIHgxPSIxLjUiIHkxPSIxIiB4Mj0iMS41IiB5Mj0iMiIgc3Ryb2tlPSIjRkFGOEZGIiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMS41IiB5MT0iMzkiIHgyPSIxLjUiIHkyPSI0MCIgc3Ryb2tlPSIjRkFGOEZGIiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMzkuNSIgeTE9IjEiIHgyPSIzOS41IiB5Mj0iMiIgc3Ryb2tlPSIjRkFGOEZGIiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMzkuNSIgeTE9IjM5IiB4Mj0iMzkuNSIgeTI9IjQwIiBzdHJva2U9IiNGQUY4RkYiIHN0cm9rZS1vcGFjaXR5PSIwLjA1Ii8+CjxtYXNrIGlkPSJwYXRoLTYtaW5zaWRlLTFfMTY1XzE3IiBmaWxsPSJ3aGl0ZSI+CjxwYXRoIGQ9Ik0wIDBINDBWNDBIMFYwWiIvPgo8L21hc2s+CjxwYXRoIGQ9Ik0wIDBWLTFILTFWMEgwWk0wIDFINDBWLTFIMFYxWk0xIDQwVjBILTFWNDBIMVoiIGZpbGw9IiNGQUY4RkYiIGZpbGwtb3BhY2l0eT0iMC4wNSIgbWFzaz0idXJsKCNwYXRoLTYtaW5zaWRlLTFfMTY1XzE3KSIvPgo8L3N2Zz4K);
    // background-size: 40px 40px;
    // background-image: linear-gradient(
    //     to right,
    //     rgba(250, 248, 255, 0.05) 1px,
    //     transparent 1px
    //   ),
    //   linear-gradient(to bottom, rgba(250, 248, 255, 0.05) 1px, transparent 1px);

    transition: all 0.15s ease;

    .cursor {
      .cursorLogo {
        background-image: url("/cursor-light.svg");
      }
    }

    .heroTexts {
      span:not(:last-child) {
        background: linear-gradient(
          135deg,
          rgba(250, 248, 255, 1) 0%,
          rgba(125, 209, 191, 1) 15%,
          rgba(0, 169, 127, 1) 40%,
          rgba(0, 169, 127, 1) 50%,
          rgba(0, 169, 127, 1) 60%,
          rgba(125, 209, 191, 1) 85%,
          rgba(250, 248, 255, 1) 100%
        );
      }
    }
  }
}

[data-theme="light"] {
  --primary: #161616;
  --secondary: #e1dfdd;

  body {
    background: var(--background-light);
    color: var(--primary);
    //background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiBmaWxsPSIjRjVGREZCIi8+CjxsaW5lIHgxPSIxLjUiIHkxPSIxIiB4Mj0iMS41IiB5Mj0iMiIgc3Ryb2tlPSIjMTYxNjE2IiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMS41IiB5MT0iMzkiIHgyPSIxLjUiIHkyPSI0MCIgc3Ryb2tlPSIjMTYxNjE2IiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMzkuNSIgeTE9IjEiIHgyPSIzOS41IiB5Mj0iMiIgc3Ryb2tlPSIjMTYxNjE2IiBzdHJva2Utb3BhY2l0eT0iMC4wNSIvPgo8bGluZSB4MT0iMzkuNSIgeTE9IjM5IiB4Mj0iMzkuNSIgeTI9IjQwIiBzdHJva2U9IiMxNjE2MTYiIHN0cm9rZS1vcGFjaXR5PSIwLjA1Ii8+CjxtYXNrIGlkPSJwYXRoLTYtaW5zaWRlLTFfMTY1XzMwIiBmaWxsPSJ3aGl0ZSI+CjxwYXRoIGQ9Ik0wIDBINDBWNDBIMFYwWiIvPgo8L21hc2s+CjxwYXRoIGQ9Ik0wIDBWLTFILTFWMEgwWk0wIDFINDBWLTFIMFYxWk0xIDQwVjBILTFWNDBIMVoiIGZpbGw9IiMxNjE2MTYiIGZpbGwtb3BhY2l0eT0iMC4wNSIgbWFzaz0idXJsKCNwYXRoLTYtaW5zaWRlLTFfMTY1XzMwKSIvPgo8L3N2Zz4K);
    // background-size: 40px 40px;
    // background-image: linear-gradient(
    //     to right,
    //     rgba(22, 22, 22, 0.05) 1px,
    //     transparent 1px
    //   ),
    //   linear-gradient(to bottom, rgba(22, 22, 22, 0.05) 1px, transparent 1px);

    transition: all 0.15s ease;
    .cursor {
      .cursorLogo {
        background-image: url("/cursor-dark.svg");
      }
    }

    .heroTexts {
      span:not(:last-child) {
        background: linear-gradient(
          135deg,
          rgba(22, 22, 22, 1) 0%,
          rgba(13, 86, 68, 1) 15%,
          rgba(2, 157, 119, 1) 40%,
          rgba(0, 169, 127, 1) 50%,
          rgba(2, 157, 119, 1) 60%,
          rgba(13, 86, 68, 1) 85%,
          rgba(22, 22, 22, 1) 100%
        );
      }
    }
  }
}

html {
  scroll-behavior: smooth !important;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .noise {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 3;

    &:after {
      content: "";
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      background-position: 50%;
      position: absolute;
      left: -10rem;
      top: -10rem;
      background-image: url(/noise.png);
      animation: noise 1s steps(2) infinite;
    }
  }
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0 0 1rem;
  font-size: 5.5rem;
  line-height: 6rem;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0 0 1.4rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.01rem;
  position: relative;
  transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out,
    color 0.15s ease-out;

  &.with-bg {
    background-color: var(--green);
    color: var(--secondary);
    padding: 20px 35px;
    border-radius: 1px;

    // &:before {
    //   content: '';
    //   background: var(--primary);
    //   top: 5px;
    //   left: 5px;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   z-index: -1;
    //   border-radius: 5px;
    //   transition: top 0.15s ease-out, left 0.15s ease-out;
    // }

    &:hover,
    &:focus-visible {
      color: var(--secondary);
      text-shadow: none;
      background-color: var(--primary);
      box-shadow: 0 0 var(--primary);
      transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out,
        color 0.15s ease-out;
    }
  }
}

.cursor {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.15s ease;

  .cursorLogo {
    height: 64px;
    width: 64px;
    position: fixed;
    background-size: cover;
    animation: rotate 10s linear infinite;
    transition: background-image 0.15s ease;
  }

  &.text {
    background-color: #faf8ff !important;
    mix-blend-mode: difference;
    transition: background-color 0.15s ease;

    .cursorLogo {
      background-image: none !important;
      transition: background-image 0.15s ease;
    }
  }
}

.sectionHeader {
  position: relative;
  display: flex;
  gap: 25px;
  margin-bottom: 35px;

  &.left {
    .preTitle {
      position: absolute;
      right: 0;
      top: 0;
    }

    .headerLine {
      span {
        left: 0;
      }
    }
  }

  &.right {
    .preTitle {
      position: absolute;
      left: 0;
      top: 0;
    }

    .headerLine {
      span {
        right: 0;
      }
    }
  }

  h2 {
    position: relative;
    display: inline-flex;
    flex: 0 1 auto;
  }

  .headerLine {
    position: relative;
    overflow: hidden;
    flex: 1;

    span {
      position: absolute;
      height: 2px;
      top: 50%;
      background-color: var(--green);
    }
  }
}

.accordion {
  &.show {
    .spinner {
      background-color: var(--green);
      transition: background-color 0.25s ease;
    }
    &:after {
      background-color: transparent;
      border-left: 1px dashed var(--primary);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

@keyframes rotate45 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(360deg);
  }
}
